root = true

[*]
indent_style = tab
indent_size = 1
tab_width = 1

[**]
indent_style = tab
indent_size = 1
tab_width = 1

[*.{js,py,html}]
indent_style = tab
indent_size = 1
tab_width = 1

// Ctrl+K, Ctrl+E
// https://editorconfig.org/#supported-properties