root = true

[*]
indent_style = space
indent_size = 1

[**]
indent_style = space
indent_size = 1

[*.{js,py,html}]
indent_style = space
indent_size = 1

// Ctrl+K, Ctrl+E
// https://editorconfig.org/#supported-properties