body{
    font-family: sans-serif !important;
}

h1{
    font-size: 2.5rem !important;
}

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: red;
    background-color: transparent;
}