  {% block scripts %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{url_for('static', filename='progress.js')}}"></script>
  {% endblock %}


  <div class='flex items-center space-x-2 pt-2 pr-1'>
    <div class='w-full h-10 bg-gray-300 rounded-full'>
      <div 
        id="progressBar"
        class="h-10 rounded-full transition ease-in-out"
        style="width: 10%; background-color: #007FFF; transition: width .1s ease-in-out;" 
      >
    </div>
    <p 
      id="progressText"
      class='text-white text-[2rem] leading-[0rem] -mt-[1.25rem] text-center'>
      10 %
    </p>
  </div>

    <button class="h-12 w-24 bg-green-500 rounded-md text-white" onclick="progressTest()">
      Test
    </button>